* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/Asset/Register\ login/Backgroundd.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(32, 32, 32, 0.2);
    animation: rise-in 1s ease-out forwards;
}

/* Transisi masuk (rise-in) */
@keyframes rise-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Transisi keluar (move-up) */
@keyframes move-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Efek fade-out */
.fade-out {
    animation: move-up 1s ease-out forwards;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border {
    size-adjust: 94.336vmax 69.466vmax;
    width: 99.5%;
    position: absolute;
    object-position: center;
    z-index: -100;
}

.title {
    text-align: center;
    font-family: 'OptimusPrincepsSemiBold';
    font-size: 4.167vmax;
    color: white;
    text-decoration: line-through 0.13vmax;
}

table {
    width: 100%;
    border-spacing: 0.651vmax;
}

table td {
    font-family: 'Oranienbaum';
    font-size: 2.083vmax;
    color: white;
}

#pdg {
    margin-left: 1.628vmax;
}

table input {
    margin-left: 6.51vmax;
    padding: 0.651vmax;
    width: 16.276vmax;
}

.register {
    text-align: center;
    font-family: 'OptimusPrincepsSemiBold';
    font-size: 2.083vmax;
    background-color: #FFD700;
    color: white;
    padding-left: 4.557vmax;
    padding-right: 4.557vmax;
    border-radius: 1.302vmax;
    margin: 3.255vmax;
}

.akun {
    display: flex;
    font-size: 1.042vmax;
    gap: 0.326vmax;
    margin-left: auto;
    margin-right: -6.51vmax;
}

.login {
    font-family: 'OptimusPrincepsSemiBold';
    font-size: 0.651vmax;
    background-color: #FFD700;
    color: white;
    padding-left: 0.651vmax;
    padding-right: 0.651vmax;
    border-radius: 1.302vmax;
}