* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../Asset/Quiz/background.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0.065vmax;
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../../Asset/Video&Font/OptimusPrincepsSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../../Asset/Video&Font/OptimusPrinceps.ttf') format('truetype');
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('../../Asset/Video&Font/Oranienbaum.ttf') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('../../Asset/Video&Font/papyrus.ttf') format('truetype');
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-family: 'OptimusPrincepsSemiBold';
    font-size: 4.167vmax;
    text-decoration: line-through 0.065vmax;
    position: absolute;
    top: 10vh;
}

.question {
    font-family: 'Oranienbaum';
    font-size: 3.125vmax;
    padding: 0.326vmax 3.255vmax 0.326vmax 3.255vmax;
    border-radius: 1.302vmax;
    background-color: rgba(146, 140, 140, 0.5);
    margin-top: -5vmax;
}