* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../Asset/Quiz/background.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0.065vmax;
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../../Asset/Video&Font/OptimusPrincepsSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../../Asset/Video&Font/OptimusPrinceps.ttf') format('truetype');
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('../../Asset/Video&Font/Oranienbaum.ttf') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('../../Asset/Video&Font/papyrus.ttf') format('truetype');
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-family: 'OptimusPrincepsSemiBold';
    font-size: 4.167vmax;
    text-decoration: line-through 0.065vmax;
    position: absolute;
    top: 10vh;
}

.question {
    font-family: 'Oranienbaum';
    font-size: 3.125vmax;
    padding: 1.5vmax 2vmax; /* Ruang dalam */
    border-radius: 1.302vmax;
    background-color: rgba(146, 140, 140, 0.5);
    max-width: 90%; /* Lebar maksimal */
    width: auto; /* Panjang menyesuaikan teks */
    text-align: center; /* Teks rata tengah */
    display: flex; /* Flexbox untuk elemen di dalamnya */
    justify-content: center; /* Isi flex di tengah horizontal */
    align-items: center; /* Isi flex di tengah vertikal */
    word-wrap: break-word; /* Bungkus teks panjang */
    margin: 0 auto; /* Pusatkan box secara horizontal */
    margin-top: 40px;
}

.answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.answer-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Oranienbaum', serif;
    font-size: 18px;
    text-align: center;
    padding: 20px 10px;
    width: 240px;
    min-height: 120px;
    line-height: 1.5;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    overflow-wrap: break-word;  
}

.answer-box:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}